body {
    background-color: #0ff;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .btn {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
  }
